*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
body{
  width: 100%;
  background-color: #CDC5C5;
  min-width: 100vh;
}

/* home page style */
.home{
  display: flex;
}
.heading{
  margin: 10px 0px 10px 20px;
}

/* left navbar style */
.mr-10{
  margin-right: 10px;
}
.left-navbar{
  width: 20vw;
  height: 100vh;
  background-color:#E9E6E6;
  padding-top: 30px;
  padding-left: 10px;
}
.fa-user{
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 10px;
}
.left-navbar-top-menu{
  margin: 30px 0px 70px 0px;
}
.left-navbar-top-menu ul li{
  margin: 10px;
}
.left-navbar-bottom-menu ul li{
  margin: 10px;
}



/* top-navbar */
.mr-20{
  margin-right: 20px;
}
.top-navbar{
  background-color: white;
  width: 100%;
}
.top-navbar-top-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:5px 10px;
}
.search-inp{
  width: 40vw;
  border-radius: 10px;
  padding: 2px 10px;
  border: none;
  outline: none;
  background-color: #DEE6EC;
}
.top-navbar-bottom-menu{
  display: flex;
  padding:5px 10px;
  align-items: center;
  justify-content: space-between;
}
.btn{
  padding: 5px 30px;
  background-color: #E8A193;
  border: none;
  border-radius: 20px;
}


/* container 1 style */
.container1{
  margin-left: 20px;
  display: flex;
  height: 140px;
  width: 350px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* container2 style */
.container2{
  width: 300px;
  background-color: white;
  height: 230px;
  border-radius: 10px;
}